@model IEnumerable<Project_Builder_Development.Models.RequestBaseViewModel>

@{
    ViewBag.Title = "RequestsOnIdea";
}
<br />
<mark>Add the delete and edit functionality</mark>
<br />
<br />
<style>
    .table-wrapper {
        width: 700px;
        margin: 0px auto 0px auto;
        margin-top: 80px;
        height: 590px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        overflow: auto;
    }

    .tableHead {
        background-color: #303334;
    }

    table {
        width: 100%;
        max-height: 50px;
        padding: 15px;
        border-spacing: 0px;
        border: 1px solid #ddd;
    }

    th {
        width: 20%;
        padding-left: 40px;
        text-align: left;
        font-size: x-large;
        -webkit-text-fill-color: white;
        height: 50px;
    }

    td {
        padding-left: 40px;
        font-size: medium;
        -webkit-text-fill-color: black;
        height: 50px;
        border: 1px solid #ddd;
    }

    tbody:nth-child(odd) {
        background-color: #7FE3D4;
    }
</style>
<div class="table-wrapper">
    <table>
        <thead class="tableHead">
            <tr>
                <th>IdeaID</th>
                <th>UserID</th>
                <th>Message</th>
                <th></th>
            </tr>
        </thead>
        @foreach (var item in Model)
        {
            <tbody>
                <tr>
                    <td>  @item.Ideas.Title</td>
                    <td>  @item.UserName </td>
                    <td>  @item.Message  </td>
                    <td>
                        <button>
                            @Html.ActionLink("Details", "Details1", new { id = item.RequestId })
                        </button>
                    </td>
                </tr>
            </tbody>
        }
    </table>
</div>