################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Project Builder Development/v16/Server/sqlite3
/.vs/Project Builder Development/config
/.vs/Project Builder Development/v16
