@{
    ViewBag.Title = "Forgot Password Confirmation";
}
<head>
    <link href="@Url.Content("~/Content/Login.css")" rel="stylesheet" type="text/css" />
</head>

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<hr />
<div class="container">
    <div class="row">
        <div class="Absolute-Center is-Responsive">
            <div class="co-md-12">
                <h4>This feature does not work yet.</h4>
            </div>
        </div>
    </div>
</div>

