@{
    ViewBag.Title = "Home Page";
}

<!--Test-->
<div class="jumbotron">
    <h1>Project Builder</h1>
</div>

<div class="row">
    <div class="col-md-4">

        Welcome @User.Identity.Name

        @if (Request.IsAuthenticated)
        {
            using (Html.BeginForm("Logout", "User", FormMethod.Post, new { id = "logoutForm" }))
            {
                <a href="javascript:document.getElementById('logoutForm').submit()">Logout</a>
            }
        }

        <dl class="dl-horizontal">
            <dt>Password:</dt>
            <dd>
                [
                @if (HttpContext.Current.User.Identity.Name != null)
                {
                    @Html.ActionLink("Change your password", "ChangePassword", "User")
                }
                else
                {
                    @Html.ActionLink("Create", "SetPassword")
                }
                ]
            </dd>
        </dl>
    </div>
</div>