@{
    ViewBag.Title = "Home Page";
}

    <div class="category">
        <div class="links">
            <ul>
                @foreach (var items in Model)
                {
                    <li>
                        <a href="">@items.Name</a>
                    </li>
                }
            </ul>
        </div>
    </div>
<div class="row">
    <div class="col-md-4">

    </div>
</div>