@{
    ViewBag.Title = "Home Page";
}
<link rel="stylesheet" href="../../Content/Site.css">

<div class="category">
    <div class="links">
        <a href="#act">ACT</a>
        <a href="#tech">TECH</a>
        <a href="#food">FOOD</a>
        <a href="#game">GAME</a>
        <a href="#music">MUSIC</a>
    </div>
</div>

<div class="container">
    <ul class="unorderedList">
        <li>
            <div class="bottom">
                <button class="btn"> <i class="glyphicon glyphicon-thumbs-up" style="font-size:25px;"></i></button>
            </div>
            <div class="images">
                <img src="../../Images/Performance-managment-process-feature-180x180.gif" alt="">
            </div>
            <hr>
            <div class="desc">describtion</div>
            <hr>
            <div class="short-desc">short describtion</div>
            <hr>
            <div class="userID">userID</div>
        </li>
    </ul>

    <ul class="unorderedList">
        <li>
            <div class="bottom">
                <button class="btn"> <i class="glyphicon glyphicon-thumbs-up" style="font-size:25px;"></i></button>
            </div>
            <div class="images">
                <img src="../../Images/Performance-managment-process-feature-180x180.gif" alt="">
            </div>
            <hr>
            <div class="desc">describtion</div>
            <hr>
            <div class="short-desc">short describtion</div>
            <hr>
            <div class="userID">userID</div>
        </li>
    </ul>

    <ul class="unorderedList">
        <li>
            <div class="bottom">
                <button class="btn"> <i class="glyphicon glyphicon-thumbs-up" style="font-size:25px;"></i></button>
            </div>
            <div class="images">
                <img src="../../Images/Performance-managment-process-feature-180x180.gif" alt="">
            </div>
            <hr>
            <div class="desc">describtion</div>
            <hr>
            <div class="short-desc">short describtion</div>
            <hr>
            <div class="userID">userID</div>
        </li>
    </ul>

    <ul class="unorderedList">
        <li>
            <div class="bottom">
                <button class="btn"> <i class="glyphicon glyphicon-thumbs-up" style="font-size:25px;"></i></button>
            </div>
            <div class="images">
                <img src="../../Images/Performance-managment-process-feature-180x180.gif" alt="">
            </div>
            <hr>
            <div class="desc">describtion</div>
            <hr>
            <div class="short-desc">short describtion</div>
            <hr>
            <div class="userID">userID</div>
        </li>
    </ul>

</div>

