body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/*home page category*/
.category ul {
    display: flex;
    color: black;
    list-style-type: none;
    justify-content: space-around;
    margin-top: 10px;
}

/*home page category*/
.links {
    background-color: #333;
    width: 960px;
    border: 2px solid;
    margin: 0 auto;
    margin-top: 20px;
    border-radius: 20px;
}

/*home page footer*/
footer {
    position: absolute;
    bottom: 0;
    width: inherit;
    height: 80px;
}
