<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/48ce3c3e-4f1d-495a-8629-a48f6ae2a3b6/resourceGroups/project-builder/providers/Microsoft.Web/sites/Project-Builder</ResourceId>
    <ResourceGroup>project-builder</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://project-builder.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>project-builder.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>Project-Builder</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$Project-Builder</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="3" Enabled="True">
          <Destination Path="Data Source=tcp:project-builder.database.windows.net,1433;Initial Catalog=Project-Builder-DB;Persist Security Info=False;User ID=project-builder;Password=Teamwork@2019;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" Name="Server=tcp:project-builder.database.windows.net,1433;Initial Catalog=Project-Builder-DB;Persist Security Info=False;User ID=project-builder;Password=Teamwork@2019;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="Project_Builder_Development.Models.ApplicationDbContext, Project Builder Development" MigrationConfiguration="Project_Builder_Development.Migrations.Configuration, Project Builder Development" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="aspnet-Project Builder Development-20190514031314-Web.config Connection String">
      <ParameterValue>Data Source=tcp:project-builder.database.windows.net,1433;Initial Catalog=project-builder-db;Persist Security Info=False;User ID=project-builder;Password=Teamwork@2019;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Server=tcp:project-builder.database.windows.net,1433;Initial Catalog=Project-Builder-DB;Persist Security Info=False;User ID=project-builder;Password=Teamwork@2019;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>