.firstLine .col-md-2, .firstLine .col-md-6 {
    border: 1px solid gray;
    text-align: center;
    height: 30px
}

.image {
    background-color: #333;
    text-align: center;
    height: 300px;
}
.image h1 {
    color:white;
}
.discription {
    border: 1px solid gray;
    height: 100px;
}
.detailDiscription {
    border: 1px solid gray;
    height: 250px;
}
.requirementForm {
    border: 1px solid gray;
    text-align: center;
    font-size:16px;
    height: 30px;
}
.participantsForm {
    border: 1px solid gray;
    text-align: center;
    font-size: 16px;
    height: 30px;
}
.left {
    padding-left: 0;
    padding-right: 0;
    height: 600px;
}
.buttons {
    padding-left:0;
    padding-right:0;
}
.right {
    padding-left: 0;
    padding-right: 0;
    height: 600px;
}
.header {
    padding-left: 0;
    padding-right: 0;
}
.header .col-md-3, .header .col-md-6 {
    text-align: center;
    border: 1px solid gray;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    padding-bottom: 0;
    height:30px
}
.partner .col-md-3, .partner .col-md-6 {
    text-align: center;
}
.partner {
    height: 185px;
    border: 1px solid gray;
    text-align: center;
    padding-left: 0;
    padding-right: 0;
    padding-top:0;
    padding-bottom:0;
}
.volunteer .col-md-3, .volunteer .col-md-6 {
    text-align: center;
}

.volunteer {
    height: 185px;
    border: 1px solid gray;
    text-align: center;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    padding-bottom: 0;
}
.participants {
    padding-left: 0;
    padding-right: 0;
}
.participants .col-md-6 {
    border: 1px solid gray;
    height: 190px;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    padding-bottom: 0;
}

.btn-default {
    background-color: #333;
    color: #9d9d9d;
}